<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>This auto-mail app was created by Zezan Tam, for the purposes of encouraging the Singularity University GSP13 class to keep in touch.</p>
